*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(red,black);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 90%;
  border: solid white 2px;
}

#opts {
  display: grid;
  grid-template-columns: repeat(3, 200px);
}

a {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:hover {
  color: #ccc;
}

/* 
 * Ensures that the JS code always looks at
 * the <a> tag when clicked or tapped
 */
i {
  pointer-events: none;
  touch-action: none;
}

#computer {
  text-align: center;
}
